#apps {
  --padding: 8px;
  margin: 0 var(--padding);

  grid-column: 1/-1;
}

#apps header {
  margin: var(--padding);
  text-align: center;
}

#search_field {
  margin: var(--padding);
  min-width: 60%;
  max-width: 80%;
}

#app_container {
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app {
  width: 300px;
  margin: var(--padding);

  text-decoration: none;

  display: flex;
  align-items: center;

  flex-shrink: 0;
}

.app * {
  color: black;
}

.app img {
  --image: 64px;

  width: var(--image);
  min-width: var(--image);

  margin-right: calc(var(--padding));
}

.app .title {
  display: block;
  
  font-size: 90%;
  font-weight: bold;
  line-height: 1.3;
}

.app .description {
  font-size: 70%;
  max-height: 60px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app .date {
  font-size: 60%;
  opacity: 0.5;
}
